
<div class="row">
      <div>
          <a routerLink="/tutorials-det">
              <img src="https://s3.amazonaws.com/coursetro/posts/176-thumb.jpg">
                <p>Learn Svelte 3.0 - Svelte Tutorial for Beginners</p>
            </a>
                <p>Aug 18, 2019</p>
                <p style="color: lightgrey">Paid</p>
            
                    
    </div>


    <div>
        <a href="https://coursetro.com/posts/code/174/Angular-8-Tutorial-&-Crash-Course">
    <img src="https://s3.amazonaws.com/coursetro/posts/174-thumb.jpg" >
        <p>Angular 8 Tutorial &amp; Crash Course</p> </a>
        <p>Jul 14, 2019</p>
        <p style="color: lightgrey">Free</p>
   
    </div>      
 </div>