

<div style="text-align:center">
    <h1 style="color: darkblue">
      Welcome to Edusphere!
    </h1>
    <div>
      <br/>
      <br/>
    <img width="250" align="left" alt="Edusphere Logo" src="assets/img/images.png">
    </div>
    <br />
    <br />
    <div>
      <p align="center" >
          Edusphere is an online video training library for learning design and development.
          Edusphere was originally created in 1998 by Refsnes Data, a Norwegian software development and consulting company.
          Half of the courses are 100% free, and the others cost the time it takes to scrounge up some money from your couch!
          
      </p>
    </div>
    <br />
    <br />
    <br />
  <br />
  <br />
  <br />

  </div>
  <footer align="right" style="color:grey">&copy; Copyright 2019 EDUSPHERE.com</footer>

  